*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:liner -gradient(135deg, #71b7e6, #9b59b6);
    font-family:Arial, Helvetica, sans-serif;
}
.container{

    width: 500px;
    height: 500px;
    background-color: azure;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 15px;
    
}
h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}
label{
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
button{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;


}
p{
    text-align: center;
margin-top: 10px;
margin-bottom: 10px;
font-size: 18px;
}
p:hover
{cursor: pointer;
    text-decoration: underline;
}

